
section.hero {
    margin-top: 3rem;
}
/* 
 ============================
1-left-section
 ============================ */
section.hero .left-section{
    flex-grow: 1;
}
section.hero .parent-avater{
    align-items: end;
    gap: 0.6rem;
}
section.hero .icon-verified{
color: var(--blue);
width: 1.1rem;
margin-bottom: 0.3rem;

}
section.hero .avater{
width: 100px;
border-radius: 50%;
padding: 1px;
border: 1px solid darkorange;
box-shadow: 2px 2px 40px rgba(203, 200, 200, .56) inset;

}

section.hero  h1.title{
    color: var(--title);
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 16px 0 ;
}




section.hero  p.sub-title{
    font-size: 0.9rem;
    color: var(--subtitle);
    line-height: 1.65em;
    margin-bottom: 32px;

}
section.hero .all-icons {
    font-size: 1.2rem !important;
    gap: 1.5rem !important;
    color: var(--subtitle) !important;
}

section.hero .all-icons .icon:hover {
    font-size: 1.4rem !important;
    transition: 0.3s !important;
    cursor: pointer !important;
    color: var(--icon-hover) !important;
}


/* ============================
1-right-section / animation
 ============================  */
 section.hero .animation{
  translate: 100px 55px;
  width: 100%;
 }

 @media (max-width: 1200px) {
    section.hero .animation{
        display: none;
    }}